
body{
  background-color: #ADD8E6;
}
h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
#bigPicture{
  display: block;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.container{
  display:flex;
  justify-content: center;
}

#random {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

img:not(#bigPicture){
  float: left;
  padding: 2%;
  place-items: center;
  
}
.thumbnail{
  filter: grayscale(100%);
  
}
.thumbnail.active {
  filter: none;
}
.thumbnail{
  filter: grayscale(100%);
  
}
.thumbnail.active {
  filter: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  color: black;
}
figcaption{
  text-align: center;
  font-size: 20px;
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}